:root {
  /* Primary Colors */
  --color-primary: #FF1C1C;      /* Pokémon Red */
  --color-secondary: #FFCB05;    /* Electric Yellow */

  /* Background & Text */
  --color-background: #F9F9F9;   /* Soft Light Gray */
  --color-text: #2D2D2D;         /* Charcoal */

  /* Accent Colors */
  --color-accent-blue: #3B4CCA;  /* Sky Blue */
  --color-accent-green: #7AC74C; /* Grass Green */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.type-normal {
  background-color: #D9D9D9;
}
.type-fire {
  background-color: #FFA756;
}
.type-water {
  background-color: #58ABF6;
}
.type-grass {
  background-color: #8BBE8A;
}
.type-electric {
  background-color: #F2CB55;
}
.type-ice {
  background-color: #91D8DF;
}
.type-fighting {
  background-color: #D56723;
}
.type-poison {
  background-color: #B97FC9;
}
.type-ground {
  background-color: #E2BF65;
}
.type-flying {
  background-color: #A890F0;
}
.type-psychic {
  background-color: #FA92B2;
}
.type-bug {
  background-color: #A6B91A;
}
.type-rock {
  background-color: #C9BB8A;
}
.type-ghost {
  background-color: #A292BC;
}
.type-dragon {
  background-color: #A27DFA;
}
.type-dark {
  background-color: #6F6E78;
}
.type-steel {
  background-color: #B7B7CE;
}
.type-fairy {
  background-color: #F4BDC9;
}

/*Utility classes*/
.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.p-1 {
  padding: 1em;
}

.pr-50 {
  padding-right: 100px ;
}

.gap-05 {
  gap: 0.5em;
}

.gap-5 {
  gap: 1.25em;
}

.text-center {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-start{
  display: flex;
  justify-content: start;
  align-items: start;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-evenly{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.wrapper{
   display: flex;
   gap: 0.5rem;
}

.wrapper-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.wrapper-col{
   display: flex;
   flex-direction:column;
   gap: 0.5rem;
}

.pokemonTypeUI{
  padding: 1em;
  border-radius: 20px;
}

.pokemonTypeUI span {
  margin-right: 5px;
  font-size: 1.2rem;
}

.responsive-title {
  font-size: 1.3rem;
  padding: 0.5em 1em;
  border: 1px solid var(--color-accent-blue);
  border-radius: 50px;
  color: var(--color-accent-blue);
  font-weight: bold;
}

body { 
  color: var(--color-text);
  background-color: var(--color-text);
}

.nav-desktop {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 3px 3px 5px;
  color:  var(--color-text);
  z-index: 100;
}

.nav-desktop ul{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-desktop ul li {
  padding: 25px;
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-desktop ul li:hover{
  background-color: var(--color-accent-blue);
  color: var(--color-background);
}

.nav-desktop ul li span {
  margin-right: 10px;
  font-size: 1.25rem;
}

.about-navbar {
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: white;
}

.about-navbar ul {
  gap: 3em;
  list-style: none;
  list-style-position:inside;
}

.about-navbar ul li{
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 4px solid lightgreen;
}

.about-navbar li:last-child{
  
  margin-left: 0;
  
}

.hidden {
  display: none;
}

.main-content {
  padding-block: 1rem;
  width: min(95%, 70rem);
  margin-inline: auto;
  background-color: #ffffff;
}

.header { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 2.5rem;
    padding: 0.125em;
    margin: 0.2em 0;
    color: #333;
}

.search-container {
    display: flex;
    gap: 2rem;
}

.searchBar {
    font-size: 0.8rem;
    min-width: 13rem;
    padding: 0.5em 0.5em;
    border-radius: 1rem;
}

.searchBarBtn {
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5em 0.5em;
    background-color: var(--color-primary);
}

.prevBtn-nextBtn{
  display: flex;
  flex-direction: column; 
  background-color: transparent;
}

.prevBtn {
  height: 100px;
  width: 50%;
  background-color: lightgrey;
  clip-path: polygon(100% 0, 36% 0, 0 0, 0 100%, 23% 100%, 40% 63%, 100% 63%);
  display: flex;
  justify-content: center;
}

.prevBtn:hover{
  background-color: var(--color-accent-blue);
  color: var(--color-background);
  cursor: pointer;
}

.prevBtn h2{
  margin-top: 15px;
}

.nextBtn {
  height: 100px;
  width: 50%;
  background-color: lightgrey ;
  clip-path: polygon(0 0, 64% 0, 100% 0, 100% 100%, 77% 100%, 60% 63%, 0 63%);
  display: flex;
  justify-content: center;
}

.nextBtn:hover{
  background-color: var(--color-accent-blue);
  color: var(--color-background);
  cursor: pointer;
}

.nextBtn h2{
  margin-top: 15px;
}

.prevBtn-nextBtn h1{
  margin: -30px auto;
  
}

#pokemonId {
  color: lightgray;
}

#primaryTypeIcon {
  margin-top: 3em;
  font-size: 0.5rem;
}

#secondaryTypeIcon {
  margin-top: 3em;
  font-size: 0.5rem;
}

.main-info-grid{
  display: grid;
  gap: 2em;
  grid-auto-columns: 1fr;
  grid-template-areas: 
  'image',
  'types',
  'stats'
  ;
}

.card {
  border-radius: 20px;
  width: min(80%, 70rem);
  background-color: #F5F5F5;
  box-shadow: -10px 5px 10px 7px rgba(0, 0, 0, 0.5);
}

.image-container {
  margin: 2rem 0;
}

.pokemonImg {
  
  width: 250px;
}

.type-info{
  padding: 1em;
}

.info-container .card{
  background-color: var(--color-accent-blue);
  color: var(--color-background);
  font-size: 1.2rem;
  padding: 1em;
  gap: 1rem;
}

.catchRate-info {
  gap: 2.5em;
}

.info-weight-container{
  padding-right: 5em;
  border-right: 2px solid gray;
}

.pokemonAbilityUI {
  background-color: lightgreen;
  padding: 0.25em;
}

.ability-info-button {
  border: darkgreen;
  color: black;
  background-color: lightgreen;
  font-size: 1rem;
}

.ability-info-button:hover{
  cursor: pointer;
}

.cryBtn {
  border: none;
  font-size: 1.5rem;
  color: var(--color-accent-blue);
}

.cryBtn:hover {
  cursor: pointer;
}

.chart {
  width: 80%;
  height: 100%;
  padding: 1em;
  margin: 0 auto
}

.table-wrapper {
  padding: 0 25px;
  overflow-x: auto;
}

table {
  width: 100%;
  color: var(--dark-grey);
  margin: auto;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x: scroll;
}

th {
  border-right: 2px solid lightgray;
  border-bottom: 2px solid var(--dark-grey);
  background-color: darkgrey;
  padding: 1em 0px;
  font-size: 1rem;
}

td:not(:nth-child(2)) {
  text-align: center;
}



td {
  
  border-bottom: 1px solid green;
  padding: 20px 0.5em;
}

#moveBtn {
  width: 25%;
}

#typeBtn {
  width: 20%;
}

@media (max-width: 855px) {
  .hideOnMobile {
  display: none;
}

/*
.sidebarMenuOpenBtn{
  display: block;
}
*/

.nav-desktop ul li{
  padding: 15px;
}

}

@media (max-width: 400px) {
  /*
  .nav-sidebar{
    width: 80%;
  }
  */
}